<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.waltervjunior.easymed">

    <application
        android:name=".EasymedApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vc.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vc.MainActivity" />
        <activity android:name=".vc.LoginActivity" />
        <activity android:name=".vc.UserRegisterActivity" />
        <activity android:name=".vc.CreateSchedule" />
        <activity android:name=".vc.PartialConfigurationActivity" />
        <activity android:name=".vc.MySchedule" />
        <activity android:name=".vc.ScheduleAppointmentSpecialization" />
        <activity android:name=".vc.ScheduleAppointmentDoctor" />
        <activity android:name=".vc.ScheduleAppointmentHours" />
    </application>

</manifest>